MONGO_URI=mongodb://admin:pass@ac-cxuzate-shard-00-00.ujlihrc.mongodb.net:27017,ac-cxuzate-shard-00-01.ujlihrc.mongodb.net:27017,ac-cxuzate-shard-00-02.ujlihrc.mongodb.net:27017/?ssl=true&replicaSet=atlas-y53djq-shard-0&authSource=admin&appName=Cluster0
PORT=3000
